<!-- Componentes, ver diseño en Figma:
            Formulario de dirección de envio, (Codigo postal, Estado, Calle, No. Exteriro, No. Interior, Colonia, Nombre de la persona que va a recibir)
            Opciones: 2 radiobuttons, 
                        1.- PayPal: Para completar la transacción, te enviaremos a los servidores seguros de PayPal.
                            Boton pagar
                        2.- Otro tipod de pago: formulario para pago con tarjeta (Numero, opciones de tajeta, nombre del titual, fecha de vencimiento, codigo de seguridad)
                            Boton pagar
-->

